div:hover {
    border: 20px;
}
div:nth-child(5) {
    color: blue;
}
div:nth-child(4) {
    color: red;
}
div:nth-child(3){
    color: green;
}
div:nth-child(6){
    color: brown;
}
div:nth-child(7) {
    color: gray;
}
h3:nth-child(even){
    text-decoration: underline;
}
h3:nth-child(even) {
    text-decoration: dotted;
}